.shu-div-16{
	width: 100%;
	height:760px;
	background: url("http://img0.imgtn.bdimg.com/it/u=2210654027,2948561405&fm=26&gp=0.jpg");
}
img{
	width:1150px;
	height:550px;
	margin:100px auto;
	border-radius: 50px;
	
}